/* <<<<<<< HEAD */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, serif;
}

.mt-10{
    margin-top: 6rem!important;
}

/*Mobile Size Page*/
body {
    overflow: auto;
}

/* ======= */

.section {
    position: relative;
    max-width: 480px;
    min-width: 320px;
    max-height: 1080px;
    min-height: 568px;
    width: 100vw;
    height: 100vh;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#section1 img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

#section1 .main-info {
    width: 100%;
    height: 100vh;
    background-color: rgba(37, 177, 255, 0.7);
    mix-blend-mode: normal;
    position: absolute;
    color: white
}

#section1 hr {
    width: 25vw;
    height: 5px;
}

#section2 h1{
    text-align: center;
}

#section2 p{
    text-align: center;
}

#section3 .bg-blue{
    --bs-bg-opacity: 1;
    background-color: rgba(37, 177, 255,var(--bs-bg-opacity))!important;
}

#section3 .card{
    text-align: center;
    background-color: rgba(214, 214, 214, 0.7);
    border-style: none;
    border-radius: 0px;
}